
/*------ UBLOCK ORIGIN BLOCKING PAGE ------*/

/* Ublock Origin element picker window */
#ublock0-epicker aside {
	background: #1A1E23 !important;
	color: #ccc !important;
	border: 1px solid #666 !important}

#ublock0-epicker #resultsetCount {background-color: #666 !important; color: #ddd !important}

#ublock0-epicker section > div:first-child > textarea {
	-moz-appearance: none !important;
	background-color: #1A1E23 !important;
	color: #ddd !important;
	border: 1px solid #666 !important}

#ublock0-epicker section > div:first-child {border: 1px solid #666 !important}

#ublock0-epicker aside #cosmeticFilters li:hover {background: rgba(255,255,255,0.2) !important}

#ublock0-epicker aside button:not(#create) {
    -moz-appearance: none !important;
    border-radius: 3px !important;
    background: #555 !important;
    color: #ddd !important;
    border: none !important}

#ublock0-epicker aside button:not(#create):hover {
    background: #111 !important;
    color: #ddd !important}

#ublock0-epicker aside #create {
    -moz-appearance: none !important;
    border-radius: 3px !important;
    background: #ffbb33 !important;
    color: #000 !important;
    border: none !important}

#ublock0-epicker aside #create:hover {
    background: #cc8800 !important;
    color: #ddd !important}

@-moz-document url-prefix(moz-extension://заменить_на_ID_расширения/document-blocked.html){

html, body, .code {background-color: #1A1E23 !important}

body {margin-top: 10em}

p, span {color: #ccc !important}

.fa {color: #fa0 !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

button {
    -moz-appearance: none !important;
    border-radius: 3px !important;
    background: #1A1E23 !important;
    color: #ddd !important;
    border: none !important}

button:hover {
    background: #111 !important;
    color: #ddd !important;}

}

/*------ UBLOCK ORIGIN CONTROL PANEL TOP BUTTONS ------*/
@-moz-document url-prefix(moz-extension://заменить_на_ID_расширения/dashboard.html) {

#dashboard-nav {
	background: #2A3037 !important;
	border-bottom: 1px solid black !important
  }

div#dashboard-nav span.tabButton:not(.selected):not(:hover) {
	color: #FFBB33 !important;
	background-color: #2A3037 !important;
	font-family: Lucida Console !important;
	font-size: 15px !important;
	font-style: normal !important;
	font-weight: 100 !important;
	font-stretch: condensed !important;
  }
div#dashboard-nav span.tabButton.selected {
	color: #FFBB33 !important;
	background-color: #1A1E23 !important;
	font-family: Lucida Console !important;
	font-size: 15px !important;
	font-style: normal !important;
	font-weight: 100 !important;
	font-stretch: condensed !important;
  }
div#dashboard-nav span.tabButton:not(.selected):hover {
	color: #FFBB33 !important;
	background-color: rgba(218,165,32,0.1) !important;
	font-family: Lucida Console !important;
	font-size: 15px !important;
	font-style: normal !important;
	font-weight: 100 !important;
	font-stretch: condensed !important;
  }
}

/*------ UBLOCK ORIGIN CONTROL PANEL CONTENT PAGES ------*/
@-moz-document url-prefix(moz-extension://заменить_на_ID_расширения/){
html:not(#ublock0-epicker) > body, html:not(#ublock0-epicker), #actions, div {
    background: #1A1E23 !important;
    color: #ccc !important;
}
.fieldset {
	margin: 0em 0em !important;
	padding: 1em 0.5em !important;
}
hr {
	margin: 0 0 !important;
}

#diff .ruleActions .fieldset-header, .fieldset-header {
	color: #DAA520 !important;
	font-family: monospace !important;
	font-size: 16px !important;
	font-style: normal !important;
	font-weight: 100 !important;
	padding-left: 10px !important;
}

.synopsis {
	color: #DAA520 !important;
	font-family: monospace !important;
	font-size: 14px !important;
	font-style: normal !important;
	font-weight: 100 !important;
	padding-left: 26px !important;
	font-size: 100%;
}

a:link {color: #09f !important}
a:visited {color: #0070aa !important}
a:hover {color: #FFBB33 !important}
a:active {color: #0050aa !important}

a.fa-icon.info {
	fill: #0099FF !important;
}
a.fa-icon.info:hover {
	fill: #23D0FC !important;
}

a.fa-icon.info svg.fa-icon_cogs {
	fill: #FFBB33 !important;
}

.body > p:nth-child(1) > span:nth-child(1),
div.section:nth-child(2),
div.section:nth-child(4),
p.vverbose span{
	color: #DAA520 !important;
	font-family: monospace !important;
	font-size: 16px !important;
	font-style: normal !important;
	font-weight: 100 !important;
	font-stretch: condensed !important;
}

/* Импортировать */
.toImport > label:nth-child(1) > span:nth-child(2) > span:nth-child(1) {
	color: #DAA520 !important;
	font-family: monospace !important;
	font-size: 18px !important;
	font-style: bold !important;
	font-weight: 100 !important;
	font-stretch: condensed !important;
	}

/* Списки фильтров */
button#buttonPurgeAll.iconifiable span.fa-icon {
	fill: #888888 !important;
}

span.fa-icon.info {
	fill: #FFBB33 !important;
}

div.geDetails {
	color: #DAA520 !important;
	font-family: monospace !important;
	font-size: 16px !important;
	font-style: normal !important;
	font-weight: 100 !important;
}
div.geDetails::before {
	color: #FFBB33 !important;
}
span.iconbar {
/*	background-color: #3B3B3B !important;*/
	border-radius: 3px !important;
	padding-top: 2px !important;
	margin-left: 10px !important;
}
a.fa-icon.content {
	fill: #A2BAE1 !important;
}
a.fa-icon.support {
	fill: #9A7516 !important;
}
span.fa-icon.remove {
	fill: #ED6F6F !important;
}
a.fa-icon.mustread {
	fill: #3D7DE4 !important;
}
span.fa-icon.status.cache {
	fill: #87B887 !important;
}
span.counts {
	color: #777777 !important;
	margin-left: 10px !important;
}

span.fa-icon.status.updating {
	fill: #0099FF !important;
}

/********************/

button:not(.whatisthis):not(#buttonUpdate):not(#buttonApply) {
    -moz-appearance: none !important;
    border-radius: 3px !important;
    background: #353B46 !important;
    color: #ddd !important;
    border: none !important}

button:not(.whatisthis):not(#buttonUpdate):not(#buttonApply):hover {
    background: #404855 !important;
    color: #FFBB33 !important}

button.whatisthis {filter: brightness(200%) !important}

button[disabled] {opacity: 0.5 !important}

#buttonApply.important.iconifiable.disabled,
#buttonUpdate.important.iconifiable.disabled {
    -moz-appearance: none !important;
    border-radius: 3px !important;
    background: #6E4900 !important;
    color: #888888 !important;
	fill: #888888 !important;
    border: none !important;
}

#buttonApply.important.iconifiable:not(.disabled),
#buttonUpdate.important.iconifiable:not(.disabled) {
    -moz-appearance: none !important;
    border-radius: 3px !important;
    background: #A87000 !important;
    color: #ddd !important;
	fill: #ddd !important;
    border: none !important;
}

#buttonApply.important.iconifiable:not(.disabled):hover,
#buttonUpdate.important.iconifiable:not(.disabled):hover {
    background: #BB7D00 !important;
    color: #ddd !important;
	fill: #ddd !important;
}

/* Страницы Мои фильтры, Мои правила */

#ruleFilter .fa {
	color: #FFBB33 !important;
}

#diff .ruleActions h3 {
	color: #FFBB33 !important;
	margin: 0.5em 0;
	font-family: monospace !important;
	font-size: 16px !important;
	font-style: normal !important;
	font-weight: 100 !important;
}

.cm-search-widget, .CodeMirror-gutters,
.CodeMirror-merge-gap {background: #1A1E23 !important; border: none !important;}

.cm-search-widget {border-bottom: 1px solid #000 !important;}

.CodeMirror, .CodeMirror-merge, .cm-search-widget input {
    -moz-appearance: none !important;
    background: #2A3037 !important;
    color: #aaa !important;
    border: none !important}

.CodeMirror-activeline-background {background: #134364 !important;}

.cm-staticext {color: #0aa !important}
.cm-builtin {color: #07F !important}
.cm-keyword {color: #FFE7E7 !important}


.CodeMirror-selected, .CodeMirror-line *::selection {
	background: #1F445C !important;
	}

.cm-comment {color: #aaa !important}
.CodeMirror-cursor {border-left-color: #aaa !important}
.cm-staticnetBlock {color: #f62 !important}
.cm-staticOpt {background-color: #111 !important}

textarea, .whatisthis-expanded {
    -moz-appearance: none !important;
    background-color: #1A1E23 !important;
    color: #aaa !important;
    border: 2px solid #000 !important}

code {background-color: #1A1E23 !important}

.CodeMirror-code > div:nth-child(odd),
.CodeMirror-code > pre:nth-child(odd) {background-color: #1A1E23 !important}
.CodeMirror-code > div:nth-child(even),
.CodeMirror-code > pre:nth-child(even) {background-color: #2A3037 !important}

input[type=number], input[type="text"] {
    -moz-appearance: none !important;
    background: #1A1E23 !important;
    border: 1px solid #888888 !important;
    color: #ccc !important
    }

/* Checkbox coloring */
input[type="checkbox"] {
  -moz-appearance: none !important;
  border: 1px solid #666 !important;
  background-color: #444 !important;
  transition: color 0.3s;
  min-width: 12px;
  min-height: 12px;
  margin-bottom: 0 !important}

input[type="checkbox"]:not([disabled]):hover {
  box-shadow: 0 0 4px #0084ff !important;
  border-color: #0084ff !important}

input[type="checkbox"]:checked {
  background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="1 3 12 12" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}

/* Select boxes coloring */
select {
  -moz-appearance: none !important;
  background: #555 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  border: none !important;
  padding: 3px;
  color: #ccc !important}

select:hover {
  background: #333 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
  color: #fff !important}

select .menulist-dropmarker {display: none}

/* O расширении */
#aboutNameVer.li {
	color: #FFBB33 !important;
	font-family: monospace !important;
	font-size: 18px !important;
	font-style: bold !important;
	font-weight: 100 !important;
	font-stretch: condensed !important;
	}

div.li:nth-child(9) > span:nth-child(1),
div.li:nth-child(11) > span:nth-child(1) {
	color: #DAA520 !important;
	font-family: monospace !important;
	font-size: 17px !important;
	font-style: normal !important;
	font-weight: 100 !important;
	font-stretch: condensed !important;
	}

}

/*------ UBLOCK ORIGIN MENU POPUP - in LOGGER------*/

@-moz-document url-prefix(moz-extension://заменить_на_ID_расширения/popup.html) {

#appinfo {
	background: #0A0E12 !important;
	}

/* Basic menu */
body.off #switch .fa-icon {
	-moz-appearance: none !important;
	color: #AFAFAF !important;
	fill: #AFAFAF !important;
	}

p#basicTools > .fa-icon.tool,
div#extraTools > .fa-icon {
	fill: #AFAFAF !important;
	}
p#basicTools > .fa-icon.tool:hover,
div#extraTools > .fa-icon:hover {
	fill: #0061E0 !important;
	}
div#extraTools > span.fa-icon.fa-icon-badged > .fa-icon-badge {
	-moz-appearance: none !important;
	color: #FFA500 !important;
	fill: #FFA500 !important;
	visibility: visible !important;
	}

div.tooltipContainer h2 {
	background: #0A0E12 !important;
	}

div#panes.dfEnabled div.tooltipContainer p.statName span,
div#panes.dfEnabled div.tooltipContainer h2 {
	color: #AFAFAF !important;
	}

#refresh {
    background-color: var(--bg-transient-notice);
    border: 1px solid #ddc;
    border-radius: 3px;
    fill: #FFA500 !important;
    font-size: 2em;
    justify-content: center;
    left: 4px;
    line-height: 1;
    padding: 0.15em;
    position: absolute;
    right: 4px;
	}
body.dirty #refresh {
    display: flex;
	}
body.dirty #refresh:hover {
    fill: inherit !important;
	}

/*****************/

/* Advanced menu */

#firewallContainer > div:first-of-type > span:first-of-type::before {
	color: #FFA500 !important;
	font-size: 16px !important;
	font-style: bold !important;
	padding-right: 1.50em !important;
	}

/* My fix for v1.24.3.b7 -  > div > */
#firewallContainer > div > span {
	background-color: #3A3E44 !important;
	}

#firewallContainer > div > span {
	border-bottom: 1px solid #000 !important;
	color: #ccc !important;
	}

#firewallContainer > div > span:hover {background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) !important;}

#firewallContainer > div > span > span,
#firewallContainer > div > span > span:hover {
	background-image: none !important;
	border-bottom: 1px solid transparent !important;
	}
}

/*------ UBLOCK ORIGIN MENU POPUP ------*/
@-moz-document url-prefix(moz-extension://заменить_на_ID_расширения/popup-fenix.html) {

/* Basic menu */

:root.desktop #main {
	max-width: 200px !important;
	width: max-content;
	font-size: 12px !important;
}

body.advancedUser:not(.off) #switch .fa-icon {
	fill: #0066DD !important;
	}
body.advancedUser:not(.off) #switch .fa-icon:hover {
	fill: #005DC8 !important;
	}

body.off #switch .fa-icon {
	fill: #AFAFAF !important;
	}
body.off #switch .fa-icon:hover {
	fill: #C8C8C8 !important;
	}

#hostname > span + span {
	font-size: 14px !important;
    font-weight: 600;
}

#refresh, #saveRules, #revertRules {
	background-color: #1A1E23 !important;
    border: 1px solid #FFA500 !important;
    border-radius: 3px;
    fill: #FFA500 !important;
    font-size: 2em;
    justify-content: center;
    left: 4px;
    line-height: 1;
    padding: 0.15em;
    position: absolute;
    right: 4px;
	}
#refresh, #saveRules, #revertRules {
    display: flex;
	}
#refresh:hover, #saveRules:hover, #revertRules:hover {
    background-color: #3A3E44 !important;
	}

div#basicTools span,
div#basicTools a,
div#extraTools span {
	height: 24px !important;
	padding: 4px 0 !important;
	}
div#basicTools .fa-icon.tool > svg,
div#extraTools .fa-icon > svg {
	height: 18px !important;
	overflow: visible !important;
	width: 18px !important;
}

div#basicTools .fa-icon.tool,
div#extraTools .fa-icon {
	fill: #AFAFAF !important;
	}
div#basicTools span:hover,
div#basicTools a:hover,
div#extraTools span:hover {
	background-color: #3A3E44 !important;
	}
div#basicTools .fa-icon.tool:hover,
div#extraTools .fa-icon:hover {
	fill: #FFA500 !important;
	}
span.fa-icon.fa-icon-badged > .fa-icon-badge {
	color: #FFA500 !important;
	visibility: visible !important;
	}

/* Аналог Advanced settings > popupPanelDisabledSections = 3 */
#basicStats, #main > hr:nth-child(6) {
	display: none !important;
	}

.itemRibbon {
	padding: 0px 4px !important;
	margin: 0 0 !important;
}
.itemRibbon > span {
	margin: 0 0 !important;
}
.itemRibbon > [data-i18n] + span {
	color: #FFD07A !important;
	}

hr {
	border-top: 1px solid #3A3E44 !important;
}

#moreButton, #lessButton {
	height: 20px !important;
	weight: 100px !important;
	padding: 4px 14px !important;
	}
#moreButton .fa-icon, #lessButton .fa-icon {
	fill: #AFAFAF !important;
	}
#moreButton:hover, #lessButton:hover {
	background-color: #3A3E44 !important;
	color: #FFA500 !important;
	}
#moreButton:hover .fa-icon, #lessButton:hover .fa-icon {
	fill: #FFA500 !important;
	}

/* Advanced menu */

#firewall > div > span {
	min-height: 22px !important;
	background-color: #3A3E44 !important;
	border-bottom: 1px solid #000 !important;
	font-size: 12px !important;
	color: #ccc !important;
	padding: 3px 4px 0 0 !important;
	}

#firewall > div > span:hover {
	background-image: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.05)) !important;
	color: #FFA500 !important;
	}

/* Плюс-минус в первой строке */
#firewall > div:first-of-type > span:first-of-type::before {
	color: #FFA500 !important;
	font-size: 16px !important;
	font-style: bold !important;
	padding-right: 1.50em !important;
	}
/* Плюсы-минусы в правилах */
#firewall > div > span[data-acount] {
	color: #FFA500 !important;
	}
/* Наведение на блок правил, без hover, так как ID создается по событию наведения */
#dynaAllow {
    background-color: #28462C !important;
    }
#dynaBlock {
    background-color: #6E2513 !important;
    }
#dynaNoop {
    background-color: #3C3C3C !important;
    }
/* Наведение на ячейку правил */
#dynaAllow:hover {
    background-color: #355E3B !important;
    }
#dynaBlock:hover {
    background-color: #882D17 !important;
    }
#dynaNoop:hover {
    background-color: #555555 !important;
    }

}

/*------ UBLOCK ORIGIN UI LOGGER ------*/
@-moz-document url-prefix(moz-extension://заменить_на_ID_расширения/logger-ui.html) {

body, .permatoolbar, .vscrollable, table, html {background: #1A1E23 !important;}

/* Верхняя панель */

div.permatoolbar div select#pageSelector {
	background-color: #353D47 !important;
	}

span#refresh.button.fa-icon.needdom.disabled,
span#showdom.button.fa-icon.needdom.disabled,
span#showpopup.button.ubo-icon.needdom.disabled {
	fill: #DDDDDD !important;
	}
span#refresh.button.fa-icon.needdom:hover,
span#showdom.button.fa-icon.needdom:hover {
	fill: #FFA500 !important;
	}

span#showpopup.button.ubo-icon.needdom:not(.disabled) {
	fill: #C13838 !important;
	}
span#showpopup.button.ubo-icon.needdom:not(.disabled):hover {
	fill: #E45858 !important;
	}

a#info.button.fa-icon {
	fill: #0099FF !important;
	}
a#info.button.fa-icon:hover {
	fill: #23D0FC !important;
	}

/* После разделителя */

div.permatoolbar div span.button.fa-icon.vCompactToggler:hover,
div.permatoolbar div span#clean.button.fa-icon:hover,
div.permatoolbar div span#clear.button.fa-icon:hover,
div.permatoolbar div span#pause span.button.fa-icon:hover,
div.permatoolbar div span#filterExprGroup:hover,
div.permatoolbar div span#loggerExport.button.fa-icon:hover,
div.permatoolbar div span#loggerSettings.button.fa-icon:hover {
	fill: #DDDDDD !important;
	}

div.permatoolbar div span#clean.button.fa-icon,
div.permatoolbar div span#clear.button.fa-icon,
div.permatoolbar {
	fill: #808080 !important;
	}

div.permatoolbar div span#filterExprGroup span#filterInput input {
	padding-left: 10px !important;
	}

span.button.fa-icon.commit.disabled,
span.button.fa-icon.revert.disabled {
	fill: #808080 !important;
}

/* После кнопок и отдельные диалоги */

div#loggerExportDialog div.options div span.on, {
	background-color: #3E4753 !important;
	}

span#filterInput {
	border-color: #1A1E23 !important;
	}

.button, input, textarea, .preview span {
    -moz-appearance: none !important;
    background: #2A3037 !important;
    border: 1px solid #000 !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	}

#modalOverlayClose svg {
	stroke: #808080 !important;
	}

#vwRenderer .logEntry > div > span, #filterExprPicker > div,
#netFilteringDialog > .panes > .details > div, .panes .details span,
.panes .entry, .action, .dynamic .toolbar span {border-color: #626262 !important;}

#vwRenderer .logEntry > div.canDetails:hover {
	background: #404A56 !important;
	}

.logEntry, #netFilteringDialog > .panes > .details > div, .panes .entry {background: rgba(255,255,255,0.1) !important;}

.logEntry:hover, .panes .entry.row:hover {background: rgba(255,255,255,0.4) !important;}

#loggerExportDialog .options span[data-i18n] {border-color: #6E7F94 !important}
#loggerExportDialog .options span[data-i18n]:hover, .tools .fa-icon:hover {background-color: #404A56 !important;}

#filterExprPicker span[data-filtex]:not(.on):hover {
    background-color: #404A56 !important;
    border-color: #626262 !important;
    }

#filterExprPicker div span[data-filtex].on {
	background-color: #272E35 !important;
	background: #272E35 !important;
	border-color: #626262 !important;
	}

input, .logEntry, #modalOverlayContainer, textarea, #filterExprPicker {color: #ddd !important;}

#modalOverlayContainer {background-color: #1A1E23 !important;}

#netInspector div#popupContainer {
    background: #1A1E23 !important;
    border: 1px solid #647185 !important;}

#popupContainer > div {background: #404855 !important;}

.toolbar td, #filterExprPicker {
    border: 1px solid #0F1114 !important;
    background: #2A3037 !important;
    }

.headers {border-bottom: 1px solid #000 !important;}

.toolbar span#saveRules {
    background-color: #2A3037 !important;
    border: 1px solid #000 !important;
    color: #eee !important;}

.toolbar span#saveRules:hover {
    background-color: #1A1E23 !important;
    color: #fff !important;}

button.important {
    -moz-appearance: none !important;
    border-radius: 3px !important;
    background: #ffbb33 !important;
    color: #000 !important;
    border: none !important;}

button.important:hover {
    background: #cc8800 !important;
    color: #ddd !important;}

.action .noop:hover, .action.noop.own {background: #ddd !important;}

.header.dynamic, .header.static, .header.details {
    background-color: #1A1E23 !important;
    color: #586677 !important;
    border: 1px solid black !important;
    border-bottom: 1px solid transparent !important;}

#netFilteringDialog[data-pane="dynamic"] .header.dynamic,
#netFilteringDialog[data-pane="static"] .header.static,
#netFilteringDialog[data-pane="details"] .header.details {
    background-color: #1A1E23 !important;
    color: #ccc !important;
    border: 1px solid black !important;
    border-bottom: 1px solid transparent !important;}

#modalOverlayContainer a:link {color: #0084ff !important;}
#modalOverlayContainer a:hover {color: #0ff !important;}
#modalOverlayContainer a:active {color: #0050aa !important;}

.button.disabled {opacity: 0.5 !important;}

#domTree, #domTree ul {background: #1A1E23 !important;}

#domTree .isCosmeticHide, #domTree .isCosmeticHide li {background: rgba(255, 150, 150, 0.2) !important;}

span.fa-icon.reload {
	fill: #DDDDDD !important;
	}
span.fa-icon.reload:hover {
	fill: #FFA500 !important;
	}

}

